header {
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

header p {
    font-size: 6.25vw;
    font-weight: bold;
    margin: 4.68vw 0 3.125vw 0;
}

header #tab {
    /*    width: 50%;*/
    margin: 3.28vw auto;
}

header #tab span {
    font-size: 4.375vw;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 1vw;
    width: 43.75vw;
    line-height: 12.5vw;
}

.tabChoose {
    background: #fff;
    color: #f54337;
}


/*
 *content
 */

#content1 {
    width: 100%;
}

#content1 #priceChoose {
    overflow: hidden;
    margin: 4.68vw 3.125vw;
}

#content1 #priceChoose .priceItem {
    float: left;
    border: 2px solid #eee;
    text-align: center;
    border-radius: 1vw;
    width: 26.5vw;
    height: 23.4vw;
}

#content1 #priceChoose .priceItem .p1 {
    color: #333;
    font-size: 6.25vw;
    margin: 1.5vw 0;
}

#content1 #priceChoose .priceItem .p2 {
    color: #666;
    font-size: 3.125vw;
    margin: 0 0 1vw 0;
}

#content1 #priceChoose .priceItem .p3 {
    color: #666;
    font-size: 3.125vw;
}

#content1 .pricePrompt {
    line-height: 9.375vw;
    background: #eee;
    font-size: 3.125vw;
    color: #666666;
    text-indent: 3.125vw;
    margin-bottom: 3.125vw;
}

#content1 .select1 {
    width: 93.75vw;
    margin-left: 3.125vw;
    border: 1px solid #666666;
    height: 12.5vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 46vw;
    font-size: 5vw;
    color: #f54337;
    background: url('../img/btnDowm.jpg') no-repeat scroll 83vw center transparent;
    margin-bottom: 3.125vw;
    border-radius: 1vw;
}
#content1 .select2 {
    width: 93.75vw;
    margin-left: 3.125vw;
    border: 1px solid #666666;
    height: 12.5vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 43.5vw;
    font-size: 5vw;
    color: #f54337;
    background: url('../img/btnDowm.jpg') no-repeat scroll 83vw center transparent;
    margin-bottom: 3.125vw;
    border-radius: 1vw;
}
#content1 .totalWrap{
    line-height: 18.75vw;
    border-top: 2px solid #eee;
    padding: 0 3.125vw;
    overflow: hidden;
}
#content1 .totalWrap .s1{
    font-size: 2.8vw;
    color: #f54337;
    margin-right: 12.5vw;
    float: left;
}
#content1 .totalWrap .s1 .totalPrice{
    font-size: 6.25vw;
    font-weight: bold;
}
#content1 .totalWrap .s2{
    color: #666;
    font-size: 3.125vw;
    margin-right: 15vw;
    float: left;
}
#content1 .totalWrap .s3{
/*    float: left;*/
/*    width: 15vw;*/
}









































































