header {
    font-size: 4.375vw;
    color: #333;
    margin: 6.25vw 4.7vw 1.56vw;
}

header img {
    width: 4.375vw;
    float: left;
    margin-right: 3.125vw;
}

#listWrap {
    /*    overflow: hidden;*/
    /*    width:100%;*/
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 15vw;
    bottom: 13vh;
    left: 0;
    width: 100%;
    overflow: auto;
}

#scroller {
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*    float:left;*/
    width: 100%;
    padding-bottom: 13vh;

}


/*
#scroller #listWrap {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
}
*/

.brief {
    position: relative;
    width: 90.6vw;
    margin: 0 4.7vw;
    line-height: 13.75vw;
    border-bottom: 4px solid #ffb535;
    color: #333;
    font-size: 4.375vw;
    float: left;
}

.brief>span {
    /*    display: block;*/
    float: left;
    /*    margin-right: 9vw;*/
    width: 19vw;
    text-align: center;
}
.brief .much{
    width: 22vw;
}
.brief .much span {
    float: left;
    width: 15vw;
}

.brief img {
    width: 4.375vw;
    /*    float: right;*/
}

.brief .img1 {
    margin-top: 4.575vw;
    margin-left: 2vw;
    float: left;
}

.brief .img2 {
    float: right;
    margin-top: 5.575vw;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.brief .list {

    width: 81.25vw;
    margin-left: 4.75vw;
    overflow: hidden;
    display: none;
}

.brief .list li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eee;
}

.brief .list li span {
    margin-right: 6vw;
}

.brief .list li .name {
    width: 22vw;
}

#pullUp {
    text-align: center;
}

#pullUp span {
    display: block;
    color: #666;
    padding-top: 10vw;
}
