


/*
 *header
 */

header {
    width: 100%;
    background: #2887ee;
    color: #fff;
    font-size: 3.75vw;
    height: 9.375vw;
    overflow: hidden;
}

header .left {
    display: block;
    width: 49%;
    float: left;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 4.68vw;
    margin-top: 2.34vw;
}

header .left #money {
    font-size: 5vw;
}

header .right {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 4.68vw;
    margin-top: 2.34vw;
}

header .right #ticket {
    font-size: 5vw;
}


/*
 *prompt
 */

#promptWrap {
    width: 100%;
    padding: 1vw 0;
    overflow: hidden;
}

#promptWrap .left {
    width: 45vw;
    /*    background: #e6e6e6;*/
    float: left;
/*    padding: 3.68vw 0;*/
    padding: 1.68vw 0;
}

#promptWrap .left .name {
    font-size: 3.75vw;
    color: #333;
    padding: 0 2vw;
}

#promptWrap .left .name span {
    color: #fff;
    font-size: 3.7vw;
    padding: 0 0.5vw;
    background: #f54337;
    border-radius: 1vw;
    float: right;
}

#promptWrap .left .price {
    font-size: 6.25vw;
    margin-top: 3.125vw;
}

#promptWrap .left .price img {
    width: 4.68vw;
    margin-left: 3.6vw;
}

#promptWrap .left p {
    text-align: center;
}

#promptWrap .right {
    width: 55vw;
    float: left;
}

#promptWrap .right p {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 3.75vw;
}

#promptWrap .right .p1 {
/*    margin: 3.68vw 0 4.68vw 0;*/
    margin: 1.68vw 0 2.68vw 0;
}

#promptWrap .right .p2 {
/*    margin: 3.68vw 0 4.68vw 0;*/
    margin: 1.68vw 0 2.68vw 0;
}

@-webkit-keyframes red {
    0% {
        background: red
    }
    100% {
        background: #fff
    }
}

@keyframes red {
    0% {
        background: rgba(245, 67, 55, 0.55)
    }
    100% {
        background: #fff
    }
}

.red {
    -webkit-animation: red 1.5s linear;
    animation: red 1.5s linear;
}

@-webkit-keyframes green {
    0% {
        background: rgba(19, 185, 77, 0.55)
    }
    100% {
        background: #fff
    }
}

@keyframes green {
    0% {
        background: rgba(19, 185, 77, 0.55)
    }
    100% {
        background: #fff
    }
}

.green {
    -webkit-animation: green 1.5s linear;
    animation: green 1.5s linear;
}


/*
 *button
 */

#buttonWrap {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

#buttonWrap span {
    float: left;
    width: 25vw;
    text-align: center;
    font-size: 3.75vw;
    color: #333;
    padding: 2.68vw 0 2.125vw 0;
}

.buttonChoose {
    border-bottom: 2px solid #2887ee;
}


/*
 *content
 */

#app {
/*        border: 1px solid #ccc;*/
/*    width: 100%;*/
    height: 68vw;
    background: skyblue;
}


/*
 *chooseBtnWrap
 */

#chooseBtnWrap {
    /*    border: 1px solid #ccc;*/
    width: 100%;
    margin: 3.125vw 0;
    overflow: hidden;
}

#chooseBtnWrap #buyUp {
    display: block;
    float: left;
    color: #fff;
    width: 40%;
    margin: 0 5%;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    border-radius: 1.5vw;
}

#chooseBtnWrap #buyDown {
    display: block;
    float: left;
    color: #fff;
    width: 40%;
    margin: 0 5%;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    border-radius: 1.5vw;
}

#chooseBtnWrap  ul{
/*    width: 100%;*/
    margin-left: 3vw;;
}
#chooseBtnWrap ul li{
    float: left;
    border-right: 1px solid #eee;
    padding: 0 2vw;
}
#chooseBtnWrap ul li p{
    text-align: center;
    font-size: 3.75vw;
}
#chooseBtnWrap ul li p:first-child{
    font-weight: bold;
    color: #333;
    margin-bottom: 1vw;
}
#chooseBtnWrap ul li p:last-child{
    color: #666;
    margin-top: 1vw;
}
#chooseBtnWrap #soldAll {
    display: block;
    float: right;
    color: #fff;
    width: 25%;
    margin: 0 5vw 0 0;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    border-radius: 1.5vw;
}

/*
 *
 *alert
 *
 */
#alertWrap{
    background: rgba(51, 51, 51, 0.52);

/*    padding: 20vw;*/
    position: absolute;
/*    top: 0;*/
    bottom: -10vw;
    width: 100%;
    height: 100vh;
}
#buyAlert{
/*         width: 90.625vw;*/
    background: #fff;
    margin: 25vw auto 0;
    border-radius: 2vw;
    overflow: hidden;
    position: relative;

}
#buyAlert .alertHeader {
    width: 100%;
    text-align: center;
    color: #333;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

#buyAlert .alertHeader p {
    font-size: 6.25vw;
    font-weight: bold;
    margin: 4.68vw 0 3.125vw 0;
}

#buyAlert .alertHeader #tab {
    /*    width: 50%;*/
/*    margin: 3.28vw auto;*/
    box-sizing: border-box;
}

#buyAlert .alertHeader #tab span {
    font-size: 4.375vw;
    float: left;
/*    border-radius: 1vw;*/
    width: 35vw;
    line-height: 12.5vw;
/*    margin: 0 1.5vw;*/
}
#buyAlert .alertHeader #tab #title {
    width: 29vw;
    color: #fff;
    line-height: 12.8vw;
}
/*close*/
#close{
    position: absolute;
    top: 3vw;
    right: 5vw;
    color: #333;
    border: 1px solid #333;
    border-radius: 1vw;
    text-align: center;
    font-size: 3vw;
    line-height: 5vw;
    padding: 1vw;
}
#buyAlert .tabChoose {
    background: #fff;
/*    color: #f54337;*/
    border-bottom: 2px solid #5083e3;
}

#buyAlert .tabChoose2 {
    background: #fff;
    color: #13b94d;
}


/*
 *content
 */

#buyAlert .content {
    width: 100%;
    background: #fff;
}

#buyAlert .content #priceChoose {
    overflow: hidden;
    margin: 4.68vw 0 6.25vw 6vw;
}
#buyAlert .content #priceChoose .sp{
    float: left;
    font-size: 4vw;
    line-height: 7.3vw;
/*    margin-right: 4vw;*/
    width: 27vw;
    color: #999999;
}
#buyAlert .content #priceChoose .priceItem {
    float: left;
    border: 2px solid #eee;
    text-align: center;
    border-radius: 1vw;
    width: 15vw;
    height: 6.5vw;
}

#buyAlert .content #priceChoose .priceItem .p1 {
    color: #333;
    font-size: 4vw;
    line-height: 6.5vw;
/*    margin: 1.5vw 0;*/

}

#buyAlert .content #priceChoose .priceItem .p2 {
    color: #666;
    font-size: 3.125vw;
/*    margin: 0 0 1vw 0;*/
}

#buyAlert .content #priceChoose .priceItem .p3 {
    color: #666;
    font-size: 3.125vw;
}

#buyAlert .content .pricePrompt {
    /*line-height: 9.375vw;
    background: #eee;
    font-size: 3.125vw;
    color: #666666;
    text-indent: 3.125vw;
    margin-bottom: 3.125vw;*/
    width: 100%;
/*    background: #666;*/
    font-size: 4vw;
    margin: 0 0 0 6vw;
    line-height: 7.3vw;
    overflow: hidden;
/*    margin-bottom: 6.25vw;*/
    margin-bottom: 6.25vw;
/*    color: #999999;*/
}
#buyAlert .content .pricePrompt .sp1{
    float: left;
    width: 27vw;
/*    margin-right: 4vw;*/
    color: #999999;
}
#buyAlert .content .pricePrompt .sp2{
    float: left;
    margin-left: 4vw;
}
#buyAlert .content .pricePrompt div{
/*    display: inline-block;*/
    border: 1px solid #333;
    border-radius: 1vw;
    font-size: 4vw;
    line-height: 6.5vw;
    width: 31.75vw;
    float: left;
}
#buyAlert .content .pricePrompt div .jia{
    float: right;
    width: 20%;
    text-align: center;
}
#buyAlert .content .pricePrompt div .show{
    float: left;
    width:58%;
    text-align: center;
}
#buyAlert .content .pricePrompt div .jian{
    float: left;
    width: 20%;
    text-align: center;
}
#buyAlert .content .totalWrap {
    line-height: 18.75vw;
    border-top: 2px solid #eee;
    padding: 0 3.125vw 10vw;
    overflow: hidden;
    clear: both;
}

#buyAlert .content .totalWrap .s1 {
    font-size: 2.8vw;
    /*    color: #13b94d;*/
    margin-right: 6vw;
    float: left;
}

#buyAlert .content .totalWrap .s1 .totalPrice {
    font-size: 6.25vw;
    font-weight: bold;
}

#buyAlert .content .totalWrap .s2 {
    color: #666;
    font-size: 3.125vw;
    /*    margin-right: 15vw;*/
    float: left;
}

#buyAlert .content .totalWrap .s3 {
    float: left;
    border: 1px solid #b3b3b3;
    line-height: 10vw;
/*    width: 44%;*/
    text-align: center;
    border-radius: 1vw;
    margin: 2vw;
    font-size: 4.21vw;
    color: #5083e3;
}
#buyAlert .content .totalWrap .cancel{
    width: 35%;
    color: #999;
}
#buyAlert .content .totalWrap #goPay{
    width: 53%;
    color: #fff;
}
#buyAlert .content .totalWrap #nomoney{
    width: 53%;
}






































