#title {
    color: #429de3;
    text-align: center;
    margin: 12.5vw 0;
    font-size: 6.25vw;
    font-weight: bold;
}

form {
    margin: 0 6.25vw;
    /*    border: 1px solid #333;*/
}

form input {
    width: 100%;
    color: #ccc;
    font-size: 4.375vw;
    line-height: 4.375vw;
    height: 14vw;
    border: none;
    border-bottom: 1px solid #ccc;
}

form .p1 {
    border-bottom: 1px solid #ccc;
}

form .p1 .inp2 {
    width: 69%;
    border: none;
}

form .p1 .getCode {
    display: inline-block;
    font-size: 4.375vw;
    color: #429de3;
    float: right;
    line-height: 14vw;
    margin-right: 2vw;
}
form .p1 .hide {
    display: inline-block;
    font-size: 4.375vw;
    color: #429de3;
    display: none;
    float: right;
    line-height: 14vw;
    margin-right: 2vw;
}

form .p2 {
    font-size: 3.75vw;
    line-height: 6.875vw;
    margin-top: 1.56vw;
    color: #666;
}

form .p2 .checkbox {
    width: 4vw;
    height: 4vw;
    border: none;
    border: 1px solid #666;
    margin-right: 2vw;
}

form .p2 a {
    color: #429de3;
}
form .p3{
    color: #666;
    font-size: 3.75vw;
    line-height: 5vw;

}
form .p3 a {
    color: #429de3;
}
form #complete{
    display: block;
    width: 100%;
    margin-top: 11vw;
    background: #429de3;
    color: #fff;
    font-size: 4.375vw;
    line-height: 12.5vw;
    text-align: center;
}
form #hasNum{
    display: block;
    width: 100%;
    margin-top: 4.68vw;
    color: #429de3;
    background: #fff;
    font-size: 4.375vw;
    border: 1px solid #429de3;
    line-height: 12.5vw;
    text-align: center;
}
form .forget{
    color: #666;
    font-size: 4.375vw;
    text-align: center;
    margin-top: 4.68vw;
}









































