header{
    background: #48a5f2;
    height: 29.68vw;
    width: 100%;
}
header img{
    width: 17.18vw;
    margin: 6.25vw 3.125vw 0 4.68vw;
    float: left;
}
header .right{
    float: left;
/*    border: 1px solid #333;*/
    margin-top: 6.25vw;
}
header .right .name{
    color: #fff;
    font-size: 5vw;
    margin: 3.125vw 0 1.5vw 0;

}
header .right .tel{
    color: #fff;
    font-size: 3.75vw;

}
#content {
    width: 100%;

}
#content .ctnItem{
    width: 100%;
    overflow: hidden;
}
#content .ctnItem img:first-child{
     width: 4.68vw;
    float: left;
    margin: 4.68vw;
}
#content .ctnItem p{
/*    float: left;*/
    overflow: hidden;
    line-height: 13.75vw;
    border-bottom: 2px solid #eee;
    color: #333;
    font-size: 4.375vw;
}
#content .ctnItem .money{
    float: right;
    margin-right: 5vw;
}
#content .ctnItem .counts{
    float: right;
    margin-right: 5vw;
}
#content .ctnItem img:last-child{
     width: 2.18vw;
    float: right;
    margin: 4.68vw;
}
#footerNav{
    position: absolute;
    bottom: 0;
}















































































