body{
    background: #ff3200;
}
p{
    color: #fff;
    text-align: center;
}
.p1{
    font-size: 4.95vw;
    padding: 20vw 0 15vw;
}
.ewm{
    width: 70vw;
    display: block;
    margin: 0 auto;
}
.p2{
    font-size: 5.95vw;
    padding: 10vw 0 5vw;
}
.p3{
    font-size: 4vw;
    padding: 5vw 0;
}
